

 


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(187, 178, 178);
    color:blueviolet;
    display:flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 600px;
    height: 600px;
    background-color: rgb(160, 29, 6);
    display:grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    box-shadow: 1px 2px 12px 2px black;
}.box>div:hover{
    background-color: rgba(116, 10, 31, 0.705);
}
.clicked{
    background-color: rgb(255, 255, 255);
}

