
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.App{
      position: absolute;
      left: 20%;
      top: 2%;
}

.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   
    border: none; 
    width: 500px;
    height: 150px;

    background-color: green ;
    border-radius: 20px;
    

    margin: 10px;
    
    


}

 